<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- People Tab -->
    <ion-tab title="Office" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/menu/peopleList">
        <ion-nav-view name="tab-peopleList"></ion-nav-view>
    </ion-tab>

    <!-- Desk Tab -->
    <ion-tab title="Desks" icon-off="ion-monitor" icon-on="ion-monitor" href="#/menu/officeTable">
        <ion-nav-view name="tab-officeTable"></ion-nav-view>
    </ion-tab>

    <!-- Scan Tab -->
    <ion-tab title="Scan" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="#/menu/scan">
        <ion-nav-view name="tab-scan"></ion-nav-view>
    </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="scan()">
          Scan
        </ion-item>
        <ion-item menu-close href="#">
          Search
        </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
