﻿<ion-view ng-controller="OfficeController" class="has-header" view-title="Desks">
    <ion-content class="padding">
        <!--<div class="row">
            <div class="col">col 1</div>
            <div class="col">col 2</div>
            <div class="col">col 3</div>
            <div class="col">col 4</div>
            <div class="col">col 5</div>
        </div>

        <div class="row">
            <div class="col">col 1</div>
            <div class="col">col 2</div>
            <div class="col">col 3</div>
        </div>-->
      <ion-refresher on-refresh="doRefresh()"
                     pullingIcon="arrow-dropdown"
                     pulling-text="Pull to refresh"
                     refreshing-text="Refreshing...">
      </ion-refresher>
      <h3>Number of tables: {{officeList.length}}</h3>
      <h3>Tables Taken</h3>
      <ion-list>
        <ion-item ng-repeat="tables in officeList" ng-if="tables.BookedBy != null ">
          <h3>{{tables.NAME}} - Booked</h3>
        </ion-item>
      </ion-list>
      <br />
      <h3>Tables Free</h3>
      <ion-list>
        <ion-item ng-repeat="tables in officeList" ng-if="tables.BookedBy == null">
          <h3>{{tables.NAME}}</h3>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>


