﻿<ion-view ng-controller="StaffController" class="has-header" view-title="Office">
    <ion-content class="padding">

      <ion-refresher on-refresh="doRefresh()"
          pullingIcon="arrow-dropdown"
          pulling-text="Pull to refresh"
          refreshing-text="Refreshing...">
      </ion-refresher>
        <h3>Number of users: {{staffList.length}}</h3>
        <h3>Employees In Office</h3>
        <ion-list>
            <ion-item ng-repeat="staff in staffList"  ng-if="staff.IN == true">
                <h3>{{staff.Name}}</h3>
            </ion-item>
        </ion-list>
        <br/>
        <h3>Employees Out of Office</h3>
        <ion-list>
            <ion-item ng-repeat="staff in staffList" ng-if="staff.IN == false">
                <h3>{{staff.Name}}</h3>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

