<ion-view view-title="Scanner" class="has-header">
    <ion-content ng-controller="ScanController" style="background: #e8ebf1;" class="padding">
        <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="scanBarcode()">
                    <i class="icon ion-qr-scanner"></i>
                    Scan Now
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Scan Results
            </div>
            <div class="item item-text-wrap">
                {{scanResults}}
            </div>
        </div>
        <div class="card" ng-show="table">
            <div class="item item-divider">
                Book Table
            </div>
            <div class="item item-text-wrap">
                <button class="button button-block button-positive" modal-select ng-model="someModel" options="selectables" modal-title="Select Staff">
                    <i class="icon ion-checkmark-round"></i>
                    Select User
                    <div class="option">
                        {{option.Name}}
                    </div>

                </button>
                <div class="item">
                    Book Desk For: {{someModel.Name}}
                    <button ng-hide="someModel.Name == null" class="button button-block button-positive" ng-click="book(someModel)">Book</button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>