﻿<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Office" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/peopleList">
        <ion-nav-view name="tab-peopleList"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Desks" icon-off="ion-monitor" icon-on="ion-monitor" href="#/tab/officeTable">
        <ion-nav-view name="tab-officeTable"></ion-nav-view>
    </ion-tab>

</ion-tabs>
