﻿<ion-view class="has-header">
    <ion-content class="padding">
        <h3>Number of users: 19</h3>
        <ion-list>
            <h3>Employees In Office</h3>
            <ion-item>
                Hello, {{item}}!
            </ion-item>
        </ion-list>
        <br/>
        <ion-list>
            <h3>Employees Out of Office</h3>
            <ion-item>
                Hello, {{item}}!
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

