﻿<ion-view class="has-header">
    <ion-content>
        <div class="row">
            <div class="col">col 1</div>
            <div class="col">col 2</div>
            <div class="col">col 3</div>
            <div class="col">col 4</div>
            <div class="col">col 5</div>
        </div>

        <div class="row">
            <div class="col">col 1</div>
            <div class="col">col 2</div>
            <div class="col">col 3</div>
        </div>
    </ion-content>
</ion-view>


